body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #333333;
}

p {
  color: #666666;
}

 /* 親に box-sizing を徹底 */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #left, #right {
    border: solid 1px #b1b1b1;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
  }

  input[type="tel"] {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
  }

/* Add more styles as needed */

@media screen and (max-width: 480px) {
  /* Styles specific to screens with a maximum width of 480px (typical smartphones) */
  #wrapper {
    padding: 10px;
  }
}