body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #333333;
  margin-bottom: 0px;

}

p {
  color: #666666;
  margin-top: 0px;
}

 /* 親に box-sizing を徹底 */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  #left, #right {
    border: solid 1px #b1b1b1;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
  }

  input[type="tel"] {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
  }

  button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #6cf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    width: 30%;
    background-color: rgb(247, 61, 61);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #sign1, #sign2 {
    text-align: center;
    min-height: 1.5em;
  } 

/* Add more styles as needed */

@media screen and (max-width: 480px) {
  /* Styles specific to screens with a maximum width of 480px (typical smartphones) */
  #wrapper {
    padding: 10px;
  }

  #left, #right {
    /* border: solid 1px #b1b; */
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
  }
}